In [1]:
import sqlalchemy as sql
import pandas as pd
import sqlite3 as sql3

In [2]:
engine = sql.create_engine('sqlite:///IT_Wynagrodzenia', echo = True)

In [3]:
#conn = sql3.connect('IT_Wynagrodzenia')

In [4]:
#df = pd.read_sql_query('SELECT*FROM IT_praca_wynagrodzenie', conn)

In [5]:
#conn.close()

In [6]:
#df

In [7]:
with engine.connect() as connection:
    result = connection.execute(("SELECT * FROM IT_praca_wynagrodzenie"))

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM IT_praca_wynagrodzenie'