In [1]:
import sqlalchemy as sql
import pandas as pd

In [2]:
engine = sql.create_engine('sqlite:///IT_Wynagrodzenia', echo = True)

In [3]:
with engine.connect() as connection:
    result = connection.execute(sql.text("SELECT * FROM IT_praca_wynagrodzenie"))

2025-01-09 12:40:17,569 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-09 12:40:17,569 INFO sqlalchemy.engine.Engine SELECT * FROM IT_praca_wynagrodzenie
2025-01-09 12:40:17,573 INFO sqlalchemy.engine.Engine [generated in 0.00371s] ()
2025-01-09 12:40:17,573 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
df = pd.DataFrame(result)
df

,index,Nazwa,Technologia,Doświadczenie,Lokalizacja,Wypłata
0,0,Trainee Java Developer,Java,trainee,warszawa,bezpłatnystaż\n
1,1,Projektowanie / ilustracja / grafika,Java,trainee,warszawa,2800–5000
2,2,Projektowanie / ilustracja / grafika,Java,trainee,warszawa,2800–5000
3,3,Projektowanie / ilustracja / grafika,Java,trainee,krakow,2800–5000
4,4,Projektowanie / ilustracja / grafika,Java,trainee,krakow,2800–5000
...,...,...,...,...,...,...
2714,2714,Senior Software Developer,HTML,senior,szczecin,18480–30240
2715,2715,Head of SEO,HTML,expert,warszawa,12000–14000
2716,2716,Product Designer (UX/UI),HTML,expert,poznan,18000–28000
2717,2717,Senior Full-stack Developer (Angular/C++),HTML,expert,krakow,18000–23000
2718,2718,Technical Leader / Staff Engineer (Angular),HTML,expert,krakow,Sprawdźzarobki