In [1]:
import sqlalchemy as sql
import pandas as pd

In [2]:
engine = sql.create_engine('sqlite:///IT_Wynagrodzenia', echo = True)

In [3]:
with engine.connect() as connection:
    result = connection.execute(sql.text("SELECT * FROM IT_praca_wynagrodzenie"))

2025-01-12 11:48:09,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-12 11:48:09,084 INFO sqlalchemy.engine.Engine SELECT * FROM IT_praca_wynagrodzenie
2025-01-12 11:48:09,085 INFO sqlalchemy.engine.Engine [generated in 0.00319s] ()
2025-01-12 11:48:09,087 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
df = pd.DataFrame(result)
df

,index,Nazwa,Technologia,Doświadczenie,Lokalizacja,Wypłata
0,0,Trainee Java Developer,Java,trainee,warszawa,bezpłatnystaż\n
1,1,Projektowanie / ilustracja / grafika,Java,trainee,warszawa,2800–5000
2,2,Projektowanie / ilustracja / grafika,Java,trainee,warszawa,2800–5000
3,3,Projektowanie / ilustracja / grafika,Java,trainee,krakow,2800–5000
4,4,Projektowanie / ilustracja / grafika,Java,trainee,krakow,2800–5000
...,...,...,...,...,...,...
2714,2714,Senior Software Developer,HTML,senior,szczecin,18480–30240
2715,2715,Head of SEO,HTML,expert,warszawa,12000–14000
2716,2716,Product Designer (UX/UI),HTML,expert,poznan,18000–28000
2717,2717,Senior Full-stack Developer (Angular/C++),HTML,expert,krakow,18000–23000
2718,2718,Technical Leader / Staff Engineer (Angular),HTML,expert,krakow,Sprawdźzarobki

In [25]:
df = df[~df['Wypłata'].isin(['bezpłatnystaż\n','Sprawdźzarobki','SprawdźSalaryMatch'])]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2424 entries, 1 to 2717
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          2424 non-null   int64
 1   Nazwa          2424 non-null   object
 2   Technologia    2424 non-null   object
 3   Doświadczenie  2424 non-null   object
 4   Lokalizacja    2424 non-null   object
 5   Wypłata        2424 non-null   object
dtypes: int64(1), object(5)
memory usage: 132.6+ KB

In [26]:
dol_przedzialu_wyplaty = []
gora_przedzialu_wyplaty = []
for i in df['Wypłata']:
    x = i.split('–')
    if len(x) == 2:
        dol_przedzialu_wyplaty.append(int(x[0]))
        gora_przedzialu_wyplaty.append(int(x[1]))
    elif len(x) == 1:
        dol_przedzialu_wyplaty.append(int(x[0]))
        gora_przedzialu_wyplaty.append(int(x[0]))
df['minimalna_pensja'] = dol_przedzialu_wyplaty
df['maksymalna_pensja'] = gora_przedzialu_wyplaty

C:\Users\ja\AppData\Local\Temp\ipykernel_6024\3157492897.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['minimalna_pensja'] = dol_przedzialu_wyplaty
C:\Users\ja\AppData\Local\Temp\ipykernel_6024\3157492897.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maksymalna_pensja'] = gora_przedzialu_wyplaty